<div class="row">
  <% records.forEach((record) => { %>
    <div class="col-md-6">
      <img class="img-fluid" src="<%= record.image %>" alt="<%= record.name %>">
      <h4><%= record.name %></h4>
      <p>
        Specs:
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Description</td>
              <td><%= record.description %> GB</td>
            </tr>
          </tbody>
        </table>
      </p>
      <p>&euros;<%= record.rrp %></p>
    </div>
  <% }) %>
</div>
